/* Global styles */
body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 20px auto;
    }
}

/* High contrast mode */
@media (prefers-contrast: high) {
    body {
        background-color: #000;
        color: #fff;
    }
}

/* Reduced motion */
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

